DATABASE_URL=postgresql://neondb_owner:npg_PCIHvrsSi34h@ep-still-recipe-ap7xrb33-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
WEB_APP_URL=http://localhost:3000
INTERNAL_API_SECRET=RGakwC/qEp1LQZR0PKlldQ4HiIUwUQkqocQZyvWKi8g=

SENTRY_DSN=https://8570d79a57be2210692095b1e9dad83d@o4511426751954944.ingest.us.sentry.io/4511426758246400
