# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dW5iaWFzZWQtc3VuZmlzaC02MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_YSxfhE7ayRl2OM2VNpKVuUcjNKwP65Glkbo0ZPfxFf
# CLERK_WEBHOOK_SECRET=

# Neon
DATABASE_URL=postgresql://neondb_owner:npg_PCIHvrsSi34h@ep-still-recipe-ap7xrb33-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DIRECT_URL=postgresql://neondb_owner:npg_PCIHvrsSi34h@ep-still-recipe-ap7xrb33.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Resend
RESEND_API_KEY=re_JFwQoK7j_PgwpBvic22Z2AUcSvFvxeYDe
RESEND_FROM_EMAIL=onboarding@resend.dev

# Upstash (Redis)
UPSTASH_REDIS_REST_URL=https://upstash-redis-url.com
UPSTASH_REDIS_REST_TOKEN=your-token-here

# Internal
INTERNAL_API_SECRET=RGakwC/qEp1LQZR0PKlldQ4HiIUwUQkqocQZyvWKi8g=
ENCRYPTION_KEY=64-character-hex-string-here
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Observability
NEXT_PUBLIC_SENTRY_DSN=https://8570d79a57be2210692095b1e9dad83d@o4511426751954944.ingest.us.sentry.io/4511426758246400
NEXT_PUBLIC_POSTHOG_KEY=phc_p2AuPyakaHY8R74Leg4i4Xh4P5nEMEbArNwuGZiquuhg
