# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dW5iaWFzZWQtc3VuZmlzaC02MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_YSxfhE7ayRl2OM2VNpKVuUcjNKwP65Glkbo0ZPfxFf
# CLERK_WEBHOOK_SECRET=

# Neon
DATABASE_URL=postgresql://neondb_owner:npg_PCIHvrsSi34h@ep-still-recipe-ap7xrb33-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DIRECT_URL=postgresql://neondb_owner:npg_PCIHvrsSi34h@ep-still-recipe-ap7xrb33.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Resend
RESEND_API_KEY=re_JFwQoK7j_PgwpBvic22Z2AUcSvFvxeYDe
RESEND_FROM_EMAIL=onboarding@resend.dev

# Internal
INTERNAL_API_SECRET=RGakwC/qEp1LQZR0PKlldQ4HiIUwUQkqocQZyvWKi8g=

# Observability
NEXT_PUBLIC_SENTRY_DSN=https://8570d79a57be2210692095b1e9dad83d@o4511426751954944.ingest.us.sentry.io/4511426758246400
NEXT_PUBLIC_POSTHOG_KEY=phc_p2AuPyakaHY8R74Leg4i4Xh4P5nEMEbArNwuGZiquuhg

ENCRYPTION_KEY=b70987ced0703fd8bd09af6886f7dc08d450fa5538684634fc0a373258272a24

UPSTASH_REDIS_REST_URL=https://pumped-glider-147302.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAj9mAAIgcDJiZmE1OTY5NTcyOTI0ZWM4YjMxMjk3YmUzNGZhMjA4NA

# App
NEXT_PUBLIC_APP_URL=https://app.steadystate.dev


WEB_APP_URL=http://localhost:3002
INTERNAL_API_SECRET=RGakwC/qEp1LQZR0PKlldQ4HiIUwUQkqocQZyvWKi8g=

SENTRY_DSN=https://8570d79a57be2210692095b1e9dad83d@o4511426751954944.ingest.us.sentry.io/4511426758246400

